<div class="col-12 col-md-4">
  <%= link_to closet_path(closet), class: "w-100" do %>
    <div class="card-vinyl" >
      <% closet.wears.first(4).each do |wear| %>
        <% if wear.photo.attached?  %>
          <%= cl_image_tag wear.photo.key, effect: "make_transparent:15", class: "card-vinyl-item" %>
        <% else %>
          <%= image_tag "wear.png", class: "card-vinyl-item" %>
        <% end %>
      <% end %>
      <h3><%= closet.name %></h3>
    </div>
  <% end %>
</div>