<div class="mb-5">
  <% wear_by_cat.each do |category, wears| %>
    <%= render 'closets/wear-slider', category: category, wears: wears %>
  <% end %>
  <div class="closet-menu">
    <a data-href="mannequin" data-action="click->closet#scroll">
      <i class="fas fa-chevron-circle-up"></i>
    </a>
    <a data-bs-toggle="modal" data-bs-target="#newWear">
      <i class="fas fa-plus-circle"></i>
    </a>
  </div>
</div>
<%= render "closets/new_wear_modal" %>
<%= render "closets/no_cloth_modal" %>