<div class="mb-5">
  <% wear_by_cat.each do |category, wears| %>
    <%= render 'wear-slider', category: category, wears: wears %>
  <% end %>
  <div class="closet-menu">
    <a href="#mannequin" data-action="click->closet#scroll">
      <i class="fas fa-chevron-circle-up"></i>
    </a>
    <a data-bs-toggle="modal" data-bs-target="#newWear">
      <i class="fas fa-plus-circle"></i>
    </a>
  </div>
</div>

<%= render "new_wear_modal" %>