<div class="mannequin">
  <div class="head"></div>
  <div class="chest"></div>
  <div class="legs"></div>
  <div class="feet"></div>
  <div class="jacket"></div>
  <div class="others"></div>
  <div class="body"></div>
</div>