<div data-closet-target='noClothModal' class="modal fade" id="noCloth" tabindex="-1" aria-labelledby="noClothLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title text-secondary" id="noClothLabel">この服の種類をまだ登録されてない</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body text-secondary">
        <p>服を追加しますか？</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">いいえ</button>
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#newWear">はい</button>
      </div>
    </div>
  </div>
</div>