<h2 class="text-center my-3" ><%= category.to_s.titleize %></h2>
<div data-controller="swiper">
  <div class="swiper mb-5" data-swiper-target="slider" style="--swiper-navigation-color: #fff; --swiper-pagination-color: #fff">
    <div class="swiper-wrapper">
      <% wears.each do |wear| %>
        <div class="swiper-slide">
          <%= wear.photo.attached? ? cl_image_tag(wear.photo.key, class: "w-100") : image_tag("wear.png", class: "w-100") %>
        </div>
      <% end %>
    </div>
  </div>
  <div thumbsSlider="" class="swiper swiper-preview" data-swiper-target="preview">
    <div class="swiper-wrapper">
      <% wears.each do |wear| %>
        <div class="swiper-slide">
          <%= wear.photo.attached? ? cl_image_tag(wear.photo.key, class: "w-100") : image_tag("wear.png", class: "w-100") %>
        </div>
      <% end %>
    </div>
  </div>
</div>
