<div class="container h-100 py-5" data-controller="stacklist">
  <div class="row h-100 align-items-center justify-content-evenly">
    <% @closets.each do |closet| %>
      <%= render 'closet_card', closet: closet %>
    <% end %>
    <%= render 'new_closet_button' %>
  </div>
</div>

<%= render 'new_closet_form' %>