<div class="container" data-controller="closet">
  <div class="row justify-content-center h-100 gx-sm-5">
    <div class="col-10 order-md-2 col-md-6 col-lg-6">
      <div class="sticky-md-top">
        <%= render 'closets/mannequin' %>
      </div>
    </div>
    <div class="col-10 order-sm-1 col-sm-6 col-md-5 col-lg-4">
      <%= render 'closets/closet', wear_by_cat: @wear_by_cat %>
    </div>
  </div>
</div>