// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$pink: #FF9A8B;
$cream: #f5e8e6;
$pink-gradient: linear-gradient(45deg, #fbb9af 0%, #f999ac 55%, #f7bfc9 100%);

$light-gray: #F4F4F4;