<div class="navbar-vanilla" data-controller="navbar">
  <%= link_to closets_path, class: "navbar-vanilla-section" do %> 
    <span class="jpic jpic-kimono navbar-vanilla-logo"></span>
    <h2 class="navbar-vanilla-brand" >な二キロ</h2>
  <% end %>
  <div class="navbar-vanilla-section">
    <div class="navbar-vanilla-menu">
      <%= link_to "私の服", closets_path %>
    </div>
    <div class="navbar-vanilla-profile" data-action="click->navbar#openProfile">
      <img src="https://avatars2.githubusercontent.com/u/26819547" alt="">
      <ul>
        <li><a href="#">プロファイル</a></li>
        <li><a href="#">ログイン</a></li>
      </ul>
    </div>
  </div>
</div>