.mannequin {
  height: 60vh;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, 1fr);
  grid-gap: 8px;
  margin-bottom: 32px;
  & > div {
    svg {
      width: 100%;
      height: 100%;
    }
    border-radius: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  & > div:not(.body) {
    border: 2px dotted $cream;
    // min-height: 23vmin;
    min-width: 20vmin;
    padding: 4px;
    z-index: 1;
  }
  .head { grid-area: 1 / 6 / 3 / 8; }
  .top { grid-area: 3 / 5 / 7 / 9; }
  .bottom { grid-area: 7 / 6 / 11 / 8; }
  .feet { grid-area: 11 / 6 / 13 / 8; }
  .jacket { grid-area: 3 / 1 / 7 / 5; }
  .others { grid-area: 8 / 9 / 11 / 12; }
  .body { grid-area: 3 / 5 / 11 / 9; }
}

.mannequin div:has(.mannequin-item)  {
  background-color: white;
  position: relative;
}

.mannequin-item {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.mannequin-item-remove {
  position: absolute;
  right: 2px; 
  top: 0px; 
  color: $pink;
}