.swiper {
  width: 240px;
  height: 320px;
}

.swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 18px;
  font-size: 22px;
  font-weight: bold;
  color: #fff;
  background-color: #fff;
}

.swiper-preview {
  height: 20%;
  box-sizing: border-box;
  padding: 10px 0;
}

.swiper-preview .swiper-slide {
  width: 25%;
  height: 64px;
  opacity: 0.4;
  border-radius: 0px;
}

.swiper-preview .swiper-slide-thumb-active {
  opacity: 1;
}